.navbar {
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    background-color: green;
    border: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #FFF;
}

header {
    margin-bottom: 50px;
}

#infotabs {
    margin-right: -30px;
    background-color: #fff;
    min-height: 30em;
    height: 60vh;
    overflow-y: scroll;
}

.nav-stacked>li {
    background-color: #dff0d8;
}

#infotabs >li>a{ /* Perus tabi */
    margin-right: 0px;
    border: 0px;
    border-radius: 0px;
}

#infotabs>li.active>a{ /* valittu tabi */
    margin-right: 0px;
    background-color: #88ab79;
}

#kartta {
    background-color: #000;
    min-height: 30em;
    color: #FFF;
    height: 60vh;
}

.content {
    padding: 0 8em;
}